@import "variables.less";

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
  color: @color-raisinBlack;
}

a {
  color: @color-blueberry;

  &:visited {
    opacity: 0.8;
  }

  &:hover {
    opacity: 0.6;
  }
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}