@size-containerWidth: 700px;
@size-layout-verticalSpacing: 40px;

@color-gargoyleGas: #F8DC3D;
@color-raisinBlack: #2E1F27;
@color-antiFlashWhite: #EEF0F2;
@color-blueberry: #4392F1;
@color-glitter: #ECE8EF;

@font-size-gigantic: 1.7rem;
@font-size-xlarge: 1.6rem;
@font-size-large: 1.2rem;
@font-size-medium: 1rem;
@font-size-normal: .8rem;
@font-size-small: .6rem;

