{{ partial "header" . }}
{{ partial "navigation" . }}
<div class="single-bg"></div>
<article class="list">
{{ range .Data.Pages.ByDate }}
    <section>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <p class="subtitle"><date>{{ .Date.Format "02.01.2006" }}</date></p>
      <p>
        {{ .Summary | plainify | safeHTML }}
        ...
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Повеќе 
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
      </p>
    </section>
{{ end }}
</article>
<hr />
{{ partial "contact" . }}
{{ partial "footer" . }}