/* Coolors Exported Palette - coolors.co/f8dc3d-2e1f27-eef0f2-4392f1-ece8ef */

/* HSL */
$color1: hsla(51%, 93%, 61%, 1);
$color2: hsla(328%, 19%, 15%, 1);
$color3: hsla(210%, 13%, 94%, 1);
$color4: hsla(213%, 86%, 60%, 1);
$color5: hsla(274%, 18%, 92%, 1);

/* RGB */
$color1: rgba(248, 220, 61, 1);
$color2: rgba(46, 31, 39, 1);
$color3: rgba(238, 240, 242, 1);
$color4: rgba(67, 146, 241, 1);
$color5: rgba(236, 232, 239, 1);