{% extends 'bare.html' %}

{% block body_class %}post-template{% endblock%}

{% block content %}

<article class="post">

  <header class="post-header">
    <!--<div class="hero-body">-->
      <div class="container">
      <h1 class="post-title">{{file.onscreenTitle}}</h1>
      <section class="post-meta">
        <time class="post-date" datetime="{{file.date | date('DD.MM.YYYY')}}">{{file.date | date('DD.MM.YYYY')}}</time>
        <!--<span>&middot; {% for tag in file.tags %}
          <a href="/tag/{{tag}}/">{{tag}}</a>
        {% endfor%}</span>-->
      </section>
      </div>
    <!--</div>-->
  </header>

  <div class="container">
    <div class="columns">
      <div class="column">
        <section class="post-content">
          {{file.content | safe}}
        </section>

        <footer class="post-footer">
        </footer>
      </div>
    </div>
  </div>

</article>

{% endblock%}
