---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
  <div class="w-screen flex items-center justify-center relative">
    <img src="/img/under_construction.png" class="w-full object-cover" />
    <div class="absolute text-4xl text-primary-50 top-10 font-slab-serif text-center bg-[#00000066] p-4">
      <b>404 or coming soon!</b>
    </div>
  </div>
</Layout>
