---
import { getEntryBySlug } from 'astro:content';
import { Carousel } from '../components/Carousel';
import { ContentSwitch } from '../components/ContentSwitch';
import Layout from '../layouts/Layout.astro';

const aboutMk = await getEntryBySlug('mk', 'blog/meta/info');
const aboutEn = await getEntryBySlug('en', 'blog/meta/info');

const { Content: AboutMk } = await aboutMk.render();
const { Content: AboutEn } = await aboutEn.render();
---

<Layout title="About">
  <div class="flex items-center justify-center w-full pt-10 px-4 mb-10">
    <div class="max-w-prose w-full bg-primary-50 mb-20">
      <ContentSwitch client:only="solid">
        <article class="prose lg:prose-xl font-transitional" lang="en" slot="contentsEn">
          <h1>{aboutEn.data.title}</h1>
          <img src="/img/vol7-cover.jpg" />
          <AboutEn />
          <hr />
        </article>
        <article class="prose lg:prose-xl font-transitional" lang="mk" slot="contentsMk">
          <h1>{aboutMk.data.title}</h1>
          <img src="/img/vol7-cover.jpg" />
          <AboutMk />
          <hr />
        </article>
      </ContentSwitch>

      <ContentSwitch client:only="solid">
        <div slot="contentsEn" class="prose lg:prose-xl font-transitional pt-10 mb-10">
          <h2>Partners</h2>
        </div>
        <div slot="contentsMk" class="prose lg:prose-xl font-transitional pt-10 mb-10">
          <h2>Партнери</h2>
        </div>
      </ContentSwitch>

      <div class="supporters">
        <a href="https://www.wearedevelopers.com"><img src="/img/WeAreDevelopers_Black.svg" /></a>
        <a href="https://women-in-tech.org/mk/"><img src="/img/logo-womenintech-global.png" /></a>
        <a href="https://jsnation.com"><img src="/img/JSNation_logo_blck.png" /></a>
        <a href="https://digital-labin.com"><img src="/img/digital_labin.svg" /></a>
        <a href="https://cityjsconf.org"><img src="/img/city-js.svg" /></a>
      </div>

      <ContentSwitch client:only="solid">
        <div slot="contentsEn" class="prose lg:prose-xl font-transitional mb-10">
          <h2>Sponsors and supporters</h2>
        </div>
        <div slot="contentsMk" class="prose lg:prose-xl font-transitional mb-10">
          <h2>Спонзори и поддржувачи</h2>
        </div>
      </ContentSwitch>

      <div class="sponsors">
        <a href="https://www.deptagency.com">
          <img src="/img/DEPT.png" />
        </a>
        <a href="https://codechem.com">
          <img src="/img/codechem.svg" />
        </a>
        <a href="https://loka.com/">
          <img src="/img/Loka logo black (4).svg" />
        </a>
        <a href="https://melontech.com/">
          <img src="/img/melon.svg" />
        </a>
        <a href="https://slicelife.com/">
          <img src="/img/slice.svg" />
        </a>
        <a href="http://coffice.com.mk/">
          <img src="/img/coffice.svg" />
        </a>
        <a href="http://abix.mk/#/">
          <img src="/img/abix.svg" />
        </a>
      </div>
      <!-- <div class="supporters"> -->
      <!-- <Carousel
        client:only="solid"
        navigation
        loop
        autoplay
        slides={[
          `<a href="https://www.deptagency.com">
            <img src="/img/DEPT.png" />
          </a>`,
          `<a href="https://codechem.com">
            <img src="/img/codechem.svg" />
          </a>`,
          `<a href="https://loka.com/">
            <img src="/img/Loka logo black (4).svg" />
          </a>`,
          `<a href="https://melontech.com/">
            <img src="/img/melon.svg" />
          </a>`,
          `<a href="https://slicelife.com/">
            <img src="/img/slice.svg" />
          </a>`,
          `<a href="http://coffice.com.mk/">
            <img src="/img/coffice.svg" />
          </a>`,
          `<a href="http://abix.mk/#/">
            <img src="/img/abix.svg" />
          </a>`,
        ]}
      /> -->
      <!-- </div> -->
    </div>
  </div>
</Layout>

<style>
  .supporters {
    @apply flex flex-wrap items-center justify-center sm:justify-between mb-28;
  }

  .supporters a {
    @apply flex items-center justify-center mb-10;
  }

  .supporters a img {
    @apply w-[280px];
  }

  .sponsors {
    @apply flex flex-wrap items-center justify-center sm:justify-between mb-28;
  }

  .sponsors a {
    @apply flex items-center justify-center mb-10;
  }

  .sponsors a img {
    @apply w-[200px];
  }
</style>
