---
import Promo from '../layouts/Promo.astro';
---

<Promo title="Donate" description="Donation page">
  <div id="particles"></div>
  <div class="w-screen h-screen foam overflow-hidden flex flex-col relative z-20">
    <div class="logo">
      <div class="logo-bg mt-10 flex flex-col items-center justify-center h-full">
        <img src="/img/donation-qr-code.png" class="shadow-xl mt-24" />
        <h1 class="text-4xl font-transitional font-bold mt-6">🍻 Support BeerJS Skopje! 🍻</h1>
      </div>
    </div>
  </div>
</Promo>

<style>
  .foam {
    background: url(/img/foam.png) top left repeat-x;
  }

  #particles {
    @apply absolute top-0 left-0 w-screen h-screen z-10;
  }

  .logo {
    @apply w-full flex items-center justify-center;
  }

  .logo img {
    @apply w-1/2;
  }
</style>

<script>
  import { load } from '../components/Particles';

  document.addEventListener('DOMContentLoaded', async () => {
    await load();
  });
</script>
