---
import Base from '../layouts/Base.astro';
import Hero from '../components/Landing/Hero.astro';
import NewsReel from '../components/NewsReel.astro';
import Cta from '../components/Landing/Cta.astro';
---

<Base title="Home">
  <Hero subtitle="Пиво и JavaScript, во Скопје!" ctaGetInvolved="Приклучи се" ctaSubmitTalk="Зборувај на BeerJS" />
  <div class="mt-[240px]">
    <!-- <NewsReel limit={3} link="/news" /> -->
  </div>
</Base>
