---
import Landing from '../layouts/Landing.astro';
// import Icon from 'astro-icon';
import { getEntryBySlug, getCollection } from 'astro:content';
import { ContentSwitch } from '../components/ContentSwitch';
import { BigCard } from '../components/BigCard';
import { late } from 'astro/zod';
import { Box } from '../components/Box';
import { Icon } from '@iconify-icon/solid';

const heroContentsMk = await getEntryBySlug('mk', 'meta/hero-about');
const heroContentsEn = await getEntryBySlug('en', 'meta/hero-about');

const { Content: ContentMk } = await heroContentsMk.render();
const { Content: ContentEn } = await heroContentsEn.render();

const postsMk = await getCollection('mk', ({ data }) => {
  return data.category === 'announcements' || data.category === 'events';
});

const postsEn = await getCollection('en', ({ data }) => {
  return data.category === 'announcements' || data.category === 'events';
});

const latestPostMk = postsMk.sort((a, b) => {
  const aDate = a.data?.date || new Date();
  const bDate = b.data?.date || new Date();

  return bDate.getTime() - aDate.getTime();
})[0];

const latestPostEn = postsEn.sort((a, b) => {
  const aDate = a.data?.date || new Date();
  const bDate = b.data?.date || new Date();

  return bDate.getTime() - aDate.getTime();
})[0];

const shortAboutMk = await getEntryBySlug('mk', 'meta/front-about-short');
const shortAboutEn = await getEntryBySlug('en', 'meta/front-about-short');

const { Content: ShortAboutMk } = await shortAboutMk.render();
const { Content: ShortAboutEn } = await shortAboutEn.render();
---

<Landing title="BeerJS Skopje">
  <div
    class="px-4 md:px-16 pt-20 flex flex-col w-full overflow-x-hidden h-full min-h-[820px] relative border-b-[60px] border-[#262022]"
  >
    <ContentSwitch client:only="solid">
      <article
        slot="contentsMk"
        class="prose-lg text-center md:text-left md:prose-xl lg:prose-2xl font-transitional prose-h1:text-primary-300 prose-h1:font-bold prose-h1:text-shadow prose-p:text-primary-100 relative z-50"
        lang="mk"
      >
        <ContentMk />
      </article>
      <article
        class="prose-lg text-center md:text-left md:prose-xl lg:prose-2xl font-transitional prose-h1:text-primary-300 prose-h1:font-bold prose-p:text-primary-100 relative z-50"
        lang="en"
        slot="contentsEn"
      >
        <ContentEn />
      </article>
    </ContentSwitch>
    <div
      class="flex relative z-50 py-8 flex-wrap items-center md:items-start justify-center md:justify-start"
      id="social"
    >
      <a href="https://discord.gg/sxNCQmA7aP">
        <Icon icon="ion:logo-discord" width="40px" client:only="solid" />
      </a>
      <a href="https://www.youtube.com/channel/UCScyJr3W0-BFCrPW1kLcGmQ">
        <Icon icon="ion:logo-youtube" width="40px" client:only="solid" />
      </a>
      <a href="https://twitter.com/BeerjsSk">
        <Icon icon="ion:logo-twitter" width="40px" client:only="solid" />
      </a>
      <a href="https://www.facebook.com/beerjsskopje/">
        <Icon icon="ion:logo-facebook" width="40px" client:only="solid" />
      </a>
      <a href="https://www.instagram.com/beer.js.skopje/">
        <Icon icon="ion:logo-instagram" width="40px" client:only="solid" />
      </a>
      <a href="https://www.linkedin.com/company/beerjs-%D1%81%D0%BA%D0%BE%D0%BF%D1%98%D0%B5/">
        <Icon icon="ion:logo-linkedin" width="40px" client:only="solid" />
      </a>
      <a href="mailto:hello@beerjs.mk">
        <Icon icon="ion:mail-outline" width="40px" client:only="solid" />
      </a>
    </div>
  </div>
  <div class="relative z-50">
    <div
      class="absolute top-[-390px] sm:top-[-480px] lg:top-[-450px] xl:top-[-410px] px-4 md:px-16 w-full max-w-[1360px] transform-gpu lg:-rotate-[2deg] lg:scale-105 rotate-0 flex items-center justify-center"
    >
      <ContentSwitch client:only="solid">
        <div slot="contentsMk" lang="mk">
          <BigCard
            client:only="solid"
            title={latestPostMk.data.title}
            description={latestPostMk.data?.description || ''}
            date={latestPostMk.data.date || new Date()}
            image={latestPostMk.data?.image || ''}
            href={`/${latestPostMk.slug}`}
          />
        </div>
        <div lang="en" slot="contentsEn">
          <BigCard
            client:only="solid"
            title={latestPostEn.data.title}
            description={latestPostEn.data?.description || ''}
            date={latestPostEn.data.date || new Date()}
            image={latestPostEn.data?.image || ''}
            href={`/${latestPostEn.slug}`}
          />
        </div>
      </ContentSwitch>
    </div>
  </div>
  <div class="h-full bg-base-50 flex flex-col items-center pt-[120px] md:pt-[180px] lg:pt-[60px]">
    <article
      class="max-w-prose prose-lg lg:prose-2xl font-transitional px-16 lg:px-0 prose-a:text-secondary-600 prose-a:underline border-t-8 border-b-8 border-dotted border-base-100 relative z-[1000]"
    >
      <ContentSwitch client:only="solid">
        <ShortAboutEn slot="contentsEn" lang="en" />
        <ShortAboutMk slot="contentsMk" lang="mk" />
      </ContentSwitch>
    </article>
    <div class="flex items-center justify-center cta">
      <ContentSwitch client:only="solid">
        <div lang="en" slot="contentsEn">
          <h3 class="text-base-700 text-center text-4xl font-transitional font-bold">Be a part of BeerJS Skopje!</h3>
          <div class="qa">
            <div class="qa-group">
              <p>💡 Got an idea for a presentation?</p>
              <a href="https://forms.gle/r8LDCVmAbjMbCJkK9" target="_blank"><span>💬</span> Give a talk!</a>
            </div>
            <div class="qa-group">
              <p>📣 Want better visibility for your company?</p>
              <a href="/sponsorship"><span>🍻</span> Sponsor an event!</a>
            </div>
            <div class="qa-group">
              <p>🚪 Want a peek behind the scenes?</p>
              <a href="/volunteer"><span>✋</span> Volunteer in BeerJS!</a>
            </div>
            <div class="qa-group">
              <p>💛 Like what we're doing?</p>
              <a href="/donate"><span>💰</span> Donate</a>
            </div>
          </div>
        </div>
        <div lang="mk" slot="contentsMk">
          <h3 class="text-base-700 text-center text-4xl font-transitional font-bold">Биди дел од BeerJS Скопје!</h3>
          <div class="qa-group">
            <p>💡 Имаш идеја за презентација?</p>
            <a href="https://forms.gle/r8LDCVmAbjMbCJkK9" target="_blank"><span>💬</span> Одржи презентација!</a>
          </div>
          <div class="qa-group">
            <p>📣 Сакаш подобра видливост за компанијата?</p>
            <a href="/sponsorship"><span>🍻</span> Спонзорирај настан!</a>
          </div>
          <div class="qa-group">
            <p>🚪 Сакаш да учествуваш зад сцената?</p>
            <a href="/volunteer"><span>✋</span> Волонтирај во BeerJS!</a>
          </div>
          <div class="qa-group">
            <p>💛 Ти се допаѓа тоа што го правиме?</p>
            <a href="/donate"><span>💰</span> Донирај!</a>
          </div>
        </div>
      </ContentSwitch>
    </div>
    <div class="h-xl w-full flex items-center justify-center opacity-25 -rotate-[24deg] color-thingie">
      <Icon icon="icon-park-outline:beer" class="text-base-900" width="310px" client:only="solid" />
    </div>
    <div class="mt-20 mb-20 flex w-full max-w-[1160px] flex-col xl:flex-row">
      <ContentSwitch client:only="solid">
        <div slot="contentsEn" class="flex w-full items-center justify-around flex-wrap flex-col lg:flex-row" lang="en">
          <Box
            client:only="solid"
            title="Videos"
            background="/videos.jpg"
            link="/videos"
            description="Recordings of our talks"
            cta="watch"
          />
          <Box
            client:only="solid"
            title="Blog"
            background="/blog.png"
            link="/blog"
            description="The musings of the BeerJS team"
            cta="read"
          />
          <Box
            client:only="solid"
            title="Events"
            background="/community_bg.jpg"
            link="/events"
            description="More about our events"
            cta="discover"
          />
        </div>
        <div slot="contentsMk" class="flex w-full items-center justify-around flex-wrap flex-col lg:flex-row" lang="mk">
          <Box
            client:only="solid"
            title="Видео"
            background="/videos.jpg"
            link="/videos"
            description="Снимки од нашите презентации"
            cta="погледни"
          />
          <Box
            client:only="solid"
            title="Блог"
            background="/blog.png"
            link="/blog"
            description="Написи од тимот на BeerJS"
            cta="прочитај"
          />
          <Box
            client:only="solid"
            title="Настани"
            background="/community_bg.jpg"
            link="/events"
            description="Повеќе за нашите настани"
            cta="дознај повеќе"
          />
        </div>
      </ContentSwitch>
    </div>
    <div class="flex flex-col">
      <ContentSwitch client:only="solid">
        <div slot="contentsEn" lang="en" class="text-base-200 text-center text-2xl font-transitional font-bold">
          <h3>Partners</h3>
        </div>
        <div slot="contentsMk" lang="mk" class="text-base-200 text-center text-2xl font-transitional font-bold">
          <h3>Партнери</h3>
        </div>
      </ContentSwitch>
      <div class="supporters">
        <a href="https://www.wearedevelopers.com"><img src="/img/WeAreDevelopers_Black.svg" /></a>
        <a href="https://women-in-tech.org/mk/"><img src="/img/wit_macedonia.png" /></a>
        <a href="https://jsnation.com"><img src="/img/JSNation_logo_blck.png" /></a>
      </div>
    </div>
  </div>
</Landing>

<style>
  #social a {
    @apply p-3 bg-base-600 hover:bg-primary-100 rounded-full mr-4 mb-4 md:mb-0 last:mr-0 text-primary-100 hover:text-base-600 transition-colors flex items-center justify-center;
    width: 60px;
    height: 60px;
  }

  .supporters {
    @apply flex flex-wrap items-center justify-center md:justify-between mb-28 mt-10;
  }

  .supporters a {
    @apply flex items-center justify-center mb-10 md:mb-0 mr-0 md:mr-10 last:mr-0;
  }

  .supporters a img {
    @apply w-[380px];
  }

  .cta {
    @apply font-transitional flex mt-20;
  }

  .cta > div {
    @apply flex;
  }

  .cta .qa {
    @apply flex flex-col justify-center items-center max-w-[870px];
  }

  .cta .qa-group {
    @apply flex flex-col items-center text-xl p-2 w-full text-xl lg:text-3xl mb-12 max-w-[860px];
  }

  .cta .qa-group a {
    @apply text-xl lg:text-2xl font-slab-serif bg-gradient-to-br from-primary-200 hover:from-primary-100 to-primary-500 hover:to-primary-300 p-3 py-6 rounded-full elevation-3 w-full max-w-[410px] text-center mt-2 mb-4;
  }

  .cta .qa-group a span {
    @apply p-2;
  }

  .cta .qa-group a:hover {
    /* @apply text-white; */
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
  }

  .cta .qa-group a:hover span {
    @apply left-0 rounded-full bg-white;
    box-shadow: 0 0 2px 2px #fff;
  }

  .cta .qa-group p {
    @apply mb-4 text-center;
  }
  .cta h3 {
    @apply mb-12;
  }

  .color-thingie svg {
    animation: color-change 9s infinite ease-in-out;
  }

  @keyframes color-change {
    0% {
      @apply text-primary-600;
    }
    25% {
      @apply text-secondary-600;
    }
    50% {
      @apply text-base-900;
    }
    75% {
      @apply text-secondary-600;
    }
    100% {
      @apply text-primary-600;
    }
  }
</style>
