---
import Promo from '../layouts/Promo.astro';
---

<Promo title="BeerJS vol 9" description="Vol 9 Live">
  <div id="particles"></div>
  <div class="w-screen h-screen foam overflow-hidden flex flex-col relative z-20">
    <div class="logo-top">
      <img src="/social/beerjs.svg" />
      <img src="/img/codechem.svg" />
    </div>
    <div class="flex speakers justify-around bg-transparent mt-12">
      <img src="/img/vol9-Mario.png" />
      <img src="/img/vol9-Nikica.png" />
      <img src="/img/vol9-Dejan.png" />
    </div>
    <div class="logo">
      <div class="logo-bg mt-10">
        <img src="/img/qr-code.png" />
      </div>
    </div>
  </div>
</Promo>

<style>
  .foam {
    background: url(/img/foam.png) top left repeat-x;
  }

  #particles {
    @apply absolute top-0 left-0 w-screen h-screen z-10;
  }

  .logo {
    @apply w-full flex items-center justify-center py-4;
  }

  .logo-top {
    @apply w-full flex items-center justify-center py-4 w-full;
  }

  .logo-top img {
    @apply first:mr-10;
    height: 140px;
  }

  .logo-bg img {
    width: 140px;
  }

  .logo-bg {
    @apply bg-white flex items-center justify-center border-2 border-solid;
    width: 160px;
    height: 160px;
  }

  .speakers img {
    @apply shadow-xl;
    width: 20%;
  }

  .logo > img {
    width: 140px;
  }
</style>

<script>
  import { load } from '../components/Particles';

  document.addEventListener('DOMContentLoaded', async () => {
    await load();
  });
</script>
