---
import BeerJS from "./BeerJS.astro";
import { Icon } from 'astro-icon/components';
import LanguagePicker from './LanguagePicker.astro';

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="grid grid-cols-12 py-8">
  <div class="col-span-2 hidden xl:flex">
  </div>
  <div
    class="flex w-full items-center justify-between lg:justify-center gap-16 text-white font-jetbrains font-normal text-[18px] grow col-span-12 px-8 lg:px-0 lg:col-span-8"
  >
    <a href="/" id="logo" class="w-[50px] hidden lg:flex xl:hidden lg:w-[66px] lg:min-w-[66px] hover:brightness-110" aria-label="Home">
      <BeerJS />
    </a>
    <a href="/about" class="hidden lg:inline border-b-2 border-dashed border-b-transparent hover:border-b-2 hover:border-byellow">{t('nav.about')}</a>
    <a href="/blog" class="hidden lg:inline border-b-2 border-dashed border-b-transparent hover:border-b-2 hover:border-byellow">{t('nav.blog')}</a>
    <a href="/" id="logo" class="flex lg:hidden xl:flex w-[50px] lg:w-[66px] lg:min-w-[66px] hover:brightness-110" aria-label="Home">
      <BeerJS />
    </a>
    <a href="/contact" class="hidden lg:inline border-b-2 border-dashed border-b-transparent hover:border-b-2 hover:border-byellow">{t('nav.contact')}</a>
    <a href="/take-part" class="hidden lg:inline border-b-2 border-dashed border-b-transparent hover:border-b-2 hover:border-byellow">{t('nav.take-part')}</a>
    <button class="w-[30px] text-byellow cursor-pointer inline-block lg:hidden hover:brightness-125" id="menu-button" aria-label="Open menu">
      <Icon name="mdi:menu" class="w-[32px] h-[32px]" />
    </button>
  </div>
  <div class="gap-4 items-center justify-end lg:col-span-4 xl:col-span-2 hidden lg:flex">
    <a href="/" class="text-white fill-current">
      <Icon name="mdi:discord" class="w-[24px] h-[24px]" />
    </a>
    <a href="/" class="text-white fill-current">
      <Icon name="mdi:youtube" class="w-[24px] h-[24px]" />
    </a>
    <div class="flex items-center pr-4">
      <LanguagePicker />
    </div>
  </div>
</nav>

<div id="mask" class="hidden">
  <sl-drawer label="" id="drawer" class="drawer">
    <div class="flex flex-col gap-6 text-white font-jetbrains font-normal text-[22px] px-10 py-12">
      <a href="/about">{t('nav.about')}</a>
      <a href="/blog">{t('nav.blog')}</a>
      <a href="/contact">{t('nav.contact')}</a>
      <a href="/take-part">{t('nav.take-part')}</a>
      <div class="flex gap-2 pt-10">
        <a href="/" class="text-white fill-current">
          <Icon name="mdi:discord" class="w-[24px] h-[24px]" />
        </a>
        <a href="/" class="text-white fill-current">
          <Icon name="mdi:youtube" class="w-[24px] h-[24px]" />
        </a>
      </div>
      <div>
        <LanguagePicker />
      </div>
    </div>
  </sl-drawer>
</div>

<script>
  import 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@latest/cdn/components/drawer/drawer.js';

  const initDrawer = () => {
    const drawer = document.querySelector('#drawer') as HTMLElement;
    const openButton = document.querySelector('#menu-button') as HTMLElement;
    const closeButton = drawer.querySelector('button') as HTMLElement;
  
    document.querySelector('#mask')?.classList.remove('hidden');
  
    openButton?.addEventListener('click', () => (drawer as any).show());
    closeButton?.addEventListener('click', () => (drawer as any).hide());
  }

  initDrawer();

  document.addEventListener("astro:after-swap", () => initDrawer());
</script>


<style>
  .drawer::part(base) {
    z-index: 9;
  }
  .drawer::part(panel) {
    @apply bg-bblack h-screen p-4;
  }

  .drawer::part(overlay) {
    background: rgba(0,0,0, .3);
  }

  .drawer::part(close-button) {
    @apply text-bwhite text-2xl text-byellow font-black hover:brightness-125;
  }

  a {
    @apply hover:brightness-110 hover:text-byellow;
  }

  #logo:hover {
    filter: drop-shadow(2px 2px 0px #F1BD4C) drop-shadow(-2px -2px 0px #F1BD4C) drop-shadow(2px -2px 0px #F1BD4C) drop-shadow(-2px 2px 0px #F1BD4C);
  }
</style>