:root {
  --color-gargoyleGas: #F8DC3D;
  --color-raisinBlack: #2E1F27;
  --color-antiFlashWhite: #EEF0F2;
  --color-blueberry: #4392F1;
  --color-glitter: #ECE8EF;
  --foam-size: 12%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* html { */
  /* background: var(--color-antiFlashWhite); */
/* } */

.single {
  z-index: 5;
}

.single, .list {
  margin-right: 12.5%;
}

.single-bg {
  background: url('/images/beerjs.svg') no-repeat;
  opacity: .4; 
  position: fixed;
  top: 40px;
  right: 40px;
  width: 33%;
  height: 33%;
  z-index: 1; 
}

a {
  color: var(--color-blueberry) !important;
  text-shadow: none !important;
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#4392F1, #4392F1);
}

.overlay {
  background: var(--color-gargoyleGas);
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  height: 100vh;
  width: 100vw;
}

.foam {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,.6) 80%,rgba(255,255,255,0) 100%); 
  height: var(--foam-size);
  width: 100vw;
}

.bubble-wrap {
  background: --color-gargoyleGas;
  position: absolute;
  top: var(--foam-size);
  left: 0;
  z-index: 0;
  height: calc(100vh - var(--foam-size));
  width: 100vw;
}

#bubbles canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - var(--foam-size));
  width: 100vw;
  overflow: hidden;
}

.landing-contents {
  position: absolute;
  display: flex;
  top: var(--foam-size);
  left: 0;
  height: calc(100vh - var(--foam-size));
  width: 100vw;
  font-family: "Source Sans Pro";
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  justify-content: space-between;
}

.landing-center {
  height: 85%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-center .logo-container {
  width: 24vh;
  height: 24vh;
  border: 1px solid #B5CDE3; 
  border-radius: 100%; 
  background: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-center .logo-container div {
  width: 80%;
  height: 80%; 
  background: url("/images/beerjs.svg") no-repeat center center;
}

.landing-title {
  color: var(--color-raisinBlack);
  text-align: center;
}

.landing-title h1 {
  font-size: 3.2vw;
  padding: .1em;
  margin: .5em;
}

.landing-title h2 {
  font-size: 1.8vw;
  font-style: normal;
  font-family: 'Vollkorn', serif;
  margin: .5em;
}

.landing-title .announcement {
  margin-top: 1.8em;
}

.landing-title .announcement a {
  background: transparent !important;
  font-size: 2vw;
}

.landing-title .previous {
  margin-top: 0.8em;
}

.landing-title .previous a {
  background: transparent !important;
  font-size: 1.6vw;
}

.landing-footer {
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
}

.landing-footer a {
  background: transparent !important;
  padding: 0 5px;
}

.landing-footer img {
  vertical-align: bottom;
  width: 1.8vw;
}

/* .title {
  background: var(--color-gargoyleGas);
  padding: 10px 0;
  text-indent: 10px;
  width: 60%;
} */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

nav li {
  padding: 0 15px;
  border-right: 1px solid #000;
}

nav li:first-child {
  padding-left: 0;
}

nav li:last-child {
  border-right: 0px;
}

@media (min-width:320px) and (max-width:640px) and (orientation:portrait) { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  html {
    font-size: 13px;
  }
  
  body {
    padding: 0;
    margin: 0 8%;
  }

  nav ul {
    flex-direction: column;
    padding-top: 5px;
    list-style: circle;
  }

  nav li:first-child {
    padding-left: 5px;
  }

  nav li {
    padding: 5px;
    border: 0;
  }

  .single, .list {
    margin: 0;
  }

  .landing-title h1 {
    font-size: 6vw;
  }

  .landing-title h2 {
    font-size: 4vw;
  }

  .landing-title .announcement a {
    font-size: 4.2vw;
  }

  .landing-title .previous a {
    font-size: 3.8vw;
  }

  .landing-footer {
    font-size: 3vw;
  }

  .landing-footer img {
    width: 3.2vw;
  }
}
/* @media (min-width:481px) {  */
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
/* } */

@media (min-width:641px) and (max-width:1281px) { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .landing-title h1 {
    font-size: 2vw;
  }

  .landing-title h2 {
    font-size: 1.8vw;
  }
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* @media only screen and (max-width: 767px) {
    
} */

/* @media only screen and (max-width: 767px) and (orientation: portrait) {
    
} */

