---
import { Footer } from '../components/Footer';
import { Header } from '../components/Header';
export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title } = Astro.props;
// const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script defer data-domain="beerjs.mk" data-api="/api/event" src="/js/script.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <Header client:only="solid" />
    <main class="flex flex-col max-w-screen min-h-screen overflow-x-hidden bg-primary-50">
      <slot />
    </main>
    <Footer client:only="solid" />
    <style>
      html {
        background: #262022;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </body>
</html>
