---
import { Footer } from '../components/Footer';
import Head from '../components/Head.astro';
import { Header } from '../components/Header';
export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
// const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description || 'BeerJS Skopje'} />
  <body>
    <slot />
    <style>
      html {
        background: #fbde34;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </body>
</html>
